*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

  @font-face {
  font-family: 'Open Sans regular';
  src: url("../fonts/OpenSans-Regular.woff");
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans Bold';
  src: url("../fonts/OpenSans-Bold.woff");
  font-style: normal;
}


.header {
  min-height: 455px;
  background-color: #6d6c69;
  background-image: url("../images/banner-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  padding-top: 32px;
}
.header::after {
  content:"";
  background-color: #000000;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0.6;
}
.header-container {
  display: flex;
  width: 1170px;
  justify-content: space-between;
  align-items: center;
  position: relative;
  z-index: 5;
  margin-right: auto;
  margin-left: auto;
}
.header-container-logo {
  width: 180px;
}
.menu-list{
  display: flex;
  list-style-type: none;
}
.menu-item {
  font-family: 'Open Sans regular', sans-serif;
  text-decoration: none;
  font-size: 13px;
  color: #ffffff;
  text-transform: uppercase;
}

.menu-list-item:nth-child(n+2) {
  margin-left: 35px;
}

.menu-item:hover {
  text-decoration: underline;
}
.menu-burger {
   position: relative; 
   width: 23px;
   height: 19px;
   cursor: pointer;
   display: none; 
  }
  .menu-burger span, .menu-burger::after, .menu-burger::before {
    height: 3px;
    width: 100%;
    position: absolute;
    background: #ffffff;
    margin: 0 auto;  
  }
  .menu-burger span {
    top: 8px;
  }
  .menu-burger::after, .menu-burger::before {
    content: "";
  }
  .menu-burger::after {
    bottom: 0;
  }
  .menu-burger::before {
    top: 0;
  }
.title {
  display: block;
  font-family: 'Open Sans Bold', sans-serif;
  line-height: 1.6;
  margin-top: 105px;
  margin-left: auto;
  margin-right: auto;
  font-size: 45px;
  width: 690px;
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;
  position: relative;
  z-index: 4;
}

.trend {
  margin-top: 60px;
}
.trend-title {
  font-family: 'Open Sans Bold', sans-serif; 
  color: #0f0d0e;
  font-size: 20px;
  text-transform: uppercase;
  text-align: center;
}
.trend-title::after {
  content: "";
  display: block;
  margin: 8px auto 26px auto;
  width: 70px;
  height: 2px;
  background-color: #b59f5b;
}
.trend-box {
  display: flex;
  justify-content: space-between;
}
.trend-box-info {
  display: flex;
  align-items: flex-end;
  padding-bottom: 18px;
  width: 24.9%;
  min-height: 320px;
  background-color: #6d6c69; 
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.trend-box-info::after {
  content:"";
  background-color: #000000;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0.6;
}
.garden {
  background-image: url("../images/trend1.jpg");
}
.chees {
  background-image: url("../images/trend2.jpg");
}
.expedition {
  background-image: url("../images/trend3.jpg");
}
.lemon {
  background-image: url("../images/trend4.jpg");
}
.trend-box-item a {
  text-decoration: none; 
}
.trend-box-item {
  display: inline-block;
  padding-top: 38px;
  padding-bottom: 30px;
  padding-left: 35px;
  outline: 2px solid #b59f5b; 
  width: 88%;
  margin-left: auto;
  margin-right: auto;
  z-index: 4;
}
.trend-box-link {
  font-family: 'Open Sans Bold', sans-serif;
  color: #b59f5b;
  font-size: 14px;
  text-transform: uppercase; 
}
.trend-box-link:nth-child(n+2) {
  margin-left: 17px;
}
.trend-box-link:hover {
  text-decoration: underline;
}
.trend-box-header {
  font-family: 'Open Sans Bold', sans-serif;
  color: #ffffff;
  font-size: 20px;
  text-transform: uppercase;
}
.trend-box-header:hover {
  color: #b59f5b;  
}

.base {
  display: flex;
  justify-content: space-between;
  width: 1170px;
  margin-top: 63px;
  margin-left: auto;
  margin-right: auto;
}
.main {
  display: flex;
  flex-direction: column;
  width: 780px;
}
.main-box {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 780px;
}
.main-box:nth-child(n+2) {
  margin-top: 61px;
}
.main-img {
  display: inline-block;
  width: 380px;
}
.main-info {
  width: 370px;
}
.main-info a {
  text-decoration: none;
}
.main-info-link {
  font-family: 'Open Sans Bold', sans-serif;
  color: #b59f5b;
  font-size: 14px;
  text-transform: uppercase;
}
.main-info-link:hover {
  text-decoration: underline;
}
.main-info-link:nth-child(n+2) {
  margin-left: 20px;
}
.main-info-header {
  font-family: 'Open Sans Bold', sans-serif; 
  color: #0f0d0e;
  font-size: 20px;
  text-transform: uppercase;
  margin-bottom: 25px;
  line-height: 1.4;
}
.main-info-header:hover {
  color: #b59f5b;
}
.date {
  font-family: 'Open Sans regular', sans-serif;
  font-size: 12px;
  color: #888888;
  margin-right: 12px;
}
.main-author {
  font-family: 'Open Sans Bold', sans-serif;
  font-size: 12px;
  color: #000000;
}
.main-info-text {
  font-family: 'Open Sans regular', sans-serif;
  font-size: 15px;
  color: #0f0d0e;
  line-height: 1.5;
  margin-top: 43px;
}
.main-festival {
  font-family: 'Open Sans regular', sans-serif;
  font-size: 15px;
  color: #0f0d0e;
  line-height: 1.5;
  margin-top: 11px;
}

.aside {
  width: 270px;
}
.posts-title {
  font-family: 'Open Sans Bold', sans-serif;
  font-size: 14px;
  color: #0f0d0e;
  text-transform: uppercase;
  text-align: center;
}
.posts-title::after {
  content: "";
  display: block;
  margin: 8px auto 27px auto;
  width: 67px;
  height: 2px;
  background-color: #b59f5b;
}
.posts-box {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.posts-box:nth-child(n+2){
  margin-top: 21px;
}
.posts-info a {
  text-decoration: none;
}
.posts-info {
  width: 181px;
}
.posts-img {
  width: 70px;
}
.posts-info-header {
  font-family: 'Open Sans Bold', sans-serif;
  font-size: 14px;
  color: #000000;
  text-transform: uppercase;
}
.posts-info-header:hover {
  color: #b59f5b;
}
.aside-form {
  width: 269px;
}
.aside-search {
  display: flex;
  margin-top: 60px;
  margin-bottom: 58px;
  border: none;
  height: 48px;
  padding: 0;
  background-color: #f4f7f6;
}
.aside-group {
  flex-grow: 1;
}
.text-form {
 width: 1px;
 height: 1px;
 clip: rect(1px, 1px, 1px, 1px);
 position: absolute; 
}
.aside-search-field:focus, .aside-mail-field:focus {
  outline: 1px solid #b59f5b;
}
.aside-search-field{
  width: 100%;
  border: none;
  height: 46px;
  margin: 1px 0 1px 1px;
  padding-left: 18px;
  background-color: #f4f7f6;
  color: #000000;
  font-family: 'Open Sans regular', sans-serif;
  font-size: 13px;
}
.aside-search-but {
  flex-shrink: 0;
  flex-grow: 0;
  border: none;
  margin: 0;
  height: 48px;
  width: 48px;
  background-image: url("../svg/search.svg");
  background-size: 19px;
  background-position: center center;
  background-repeat: no-repeat;
  background-color: #b59f5b;
  cursor: pointer;
}
.aside-search-but:hover {
  background-color: #323232;
}
.mail-title {
  text-align: center;
  font-family: 'Open Sans Bold', sans-serif;
  font-size: 14px;
  color: #0f0d0e;
  text-transform: uppercase;
}
.mail-title::after {
  content: "";
  display: block;
  margin: 10px auto 0 auto;
  width: 67px;
  height: 2px;
  background-color: #b59f5b;
}
.aside-mail-field {
  width: 100%;
  height: 48px;
  margin-top: 21px;
  padding-left: 18px;
  border: none;
  background-color: #f4f7f6;
  font-size: 13px;
}
.aside-mail-but {
  width: 100%;
  height: 48px;
  box-sizing: border-box;
  margin-top: 19px;
  margin-bottom: 58px;
  font-size: 14px;
  text-transform: uppercase;
  background-color: #b59f5b;
  font-family: 'Open Sans Bold', sans-serif;
  color: #ffffff;
  border: none;
  cursor: pointer;
}
.aside-mail-but:hover {
  background-color: #323232;
}
.tags-title {
  font-family: 'Open Sans Bold', sans-serif;
  font-size: 14px;
  color: #0f0d0e;
  text-transform: uppercase;
  text-align: center; 
}
.tags-title::after {
  content: "";
  display: block;
  margin: 11px auto 23px auto;
  width: 67px;
  height: 2px;
  background-color: #b59f5b;

}
.tags-list {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
}
.tags-list-item {
  display: block;
  border: 3px solid #eeeeee;
  padding: 4px 13px;
  margin-right: 6px;
  margin-bottom: 5px;
}
.tags-link {
  text-decoration: none;
  font-family: 'Open Sans Bold', sans-serif;
  text-transform: uppercase;
  color: #0f0d0e;
  font-size: 12px;
}
.tags-list-item:hover {
  border: 3px solid #b59f5b;
}
.themes-title {
  text-align: center;
  margin-top: 48px;
  font-family: 'Open Sans Bold', sans-serif;
  font-size: 14px;
  color: #0f0d0e;
  text-transform: uppercase;
}
.themes-title::after {
  content: "";
  display: block;
  margin: 10px auto 14px auto;
  width: 67px;
  height: 2px;
  background-color: #b59f5b;
}
.themes-list {
  list-style-type: none;
}
.themes-list-item {
  display: block;
  padding-top: 11px;
  height: 46px;
  border-bottom: 3px solid #eeeeee;
}
.themes-link {
  font-family: 'Open Sans Bold', sans-serif;
  font-size: 14px;
  color: #000000;
  text-decoration: none;
}
.themes-link:hover {
  color: #b59f5b;
}
.themes-number {
  font-family: 'Open Sans Bold', sans-serif;
  font-size: 12px;
  color: #b59f5b;
  margin-left: 3px;
} 

.product {
  width: 1170px;
  margin-top: 61px;
  margin-left: auto;
  margin-right: auto;
}
.product-title {
  text-align: center;
  font-family: 'Open Sans Bold', sans-serif;
  font-size: 20px;
  color: #0f0d0e;
  text-transform: uppercase;
}
.product-title::after {
  content: "";
  display: block;
  margin: 13px auto 23px auto;
  width: 60px;
  height: 2px;
  background-color: #b59f5b;
}
.product-box {
  width: 100%;
  display: flex;
  justify-content: space-between; 
}
.product-info {
  min-height: 440px;
  width: 345px;
  background-color: #ffffff; 
  position: relative; 
}
.product-img {
  margin-left: 25px;
  margin-right: 25px;
}
.product-content, .product-content-frame {
  display: inline-block;
  padding-top: 53px;
  outline: 2px solid #b59f5b;
  position: absolute;
  min-height: 265px;
  width: 100%;
  bottom: 0;
  left: 0;
  right: 0;
  padding-left: 25px;
  padding-right: 22px;
}
.product-header-title {
  font-family: 'Open Sans Bold', sans-serif;
  font-size: 20px;
  color: #0f0d0e;
  text-transform: uppercase;
  text-align: left;
}
.product-text {
  font-family: 'Open Sans regular', sans-serif;
  font-size: 15px;
  color: #0f0d0e;
  text-align: left;
  line-height: 1.5;
}
.product-link {
  font-family: 'Open Sans regular', sans-serif;
  color: #b59f5b;
  font-size: 15px;
  text-decoration: none;
}
.product-link:hover {
  text-decoration: underline;
}
.product-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 17px;
}
.product-price {
  display: flex;
  flex-direction: column;
}
.product-old-price {
  font-family: 'Open Sans Bold', sans-serif;
  font-size: 14px;
  color: #0f0d0e;
  text-decoration: line-through;
}
.product-new-price {
  font-family: 'Open Sans Bold', sans-serif;
  font-size: 20px;
  color: #0f0d0e;
}
.product-button {
  width: 142px;
  height: 50px;
  box-sizing: border-box;
  font-family: 'Open Sans Bold', sans-serif;
  font-size: 14px;
  text-transform: uppercase;
  background-color: #b59f5b;
  color: #ffffff;
  border: none;
  cursor: pointer;
}
.product-button:hover {
  background-color: #323232;
}

.footer {
  width: 1170px;
  margin-top: 65px;
  margin-bottom: 40px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
.footer-socials {
  background-color: #f4f7f6;
  padding-top: 30px;
  padding-bottom: 30px;
}
.footer-socials-list {
  list-style: none;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}
.socials-list-item {
  margin-left: 5px;
  margin-right: 5px;
  display: inline-block;
}
.socials-link {
  display: inline-block;
  padding: 5px;
  width: 24px;
  height: 24px;
  background-repeat: no-repeat;
  background-size: 20px;
  background-position: center;
}
.socials-link-twitter {
  background-image: url("../svg/004-twitter.svg");
}
.socials-link-pinterest {
  background-image: url("../svg/001-pinterest.svg");
}
.socials-link-tumblr {
  background-image: url("../svg/003-tumblr.svg");
}
.socials-link-text {
  width: 1px;
  height: 1px;
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute;
}
.copyright {
  margin-top: 67px;
}
.copyright-text {
  font-family: 'Open Sans Bold', sans-serif;
  font-size: 12px;
  color: #999999;
}

.popup {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 100;
  display: none;
}/*
.popup-active {
  display: flex;
  justify-content: center;
  align-items: center;*/
}
.popup::after {
  content: "";
  background-color: #000000;
  opacity: 0.6;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.popup-close {
  width: 21px;
  height: 21px;
  padding: 0;
  border: none;
  cursor: pointer;
  position: absolute;
  top: -27px;
  right: 0;
  background-image: url("../svg/form-x.svg");
  background-size: 20px;
  background-repeat: no-repeat;
  background-position: center center;
  background-color: transparent;
}
.popup-close-text {
  width: 1px;
  height: 1px;
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute;
}
.popup-container {
  box-sizing: border-box;
  width: 390px;
  padding: 47px 30px 52px 30px;
  position: relative;
  z-index: 2;
  background-color: #ffffff;
}
.popup-title {
  font-family: 'Open Sans Bold', sans-serif;
  font-size: 20px;
  color: #0f0d0e;
  text-transform: uppercase;
  text-align: center;
}
.popup-title::after {
  content: "";
  display: block;
  margin: 10px auto 0 auto;
  width: 67px;
  height: 2px;
  background-color: #b59f5b;
}
.popup-content {
  margin-top: 25px;
  display: block;
}
.popup-form-row:nth-child(n+2) {
  margin-top: 30px;
}
.popup-form-group {
  display: block;
}
.popup-form-hint {
  display: block;
  font-size: 13px;
  font-family: 'Open Sans Regular', sans-serif;
  color: #000000; 
  margin-bottom: 7px;
}
.select { 
  -webkit-appearance: none;
  -moz-appearance: none;
}
.select { 
  background-image: url("../svg/form-arrows.svg");
  background-repeat: no-repeat;
  background-size: 10px;
  background-position: right 14px center;
  background-color: #f4f7f6;
  display: block;
  box-sizing: border-box;
  width: 100%;
  height: 48px;
  padding-left: 20px;
  margin: 0;
  border: none;
  font-family: 'Open Sans Regular';
  font-size: 13px;
  color: #000000;
  opacity: 54%;
}
.radio-group-text::before {
  content: "";
  display: inline-block;
  width: 18px;
  height: 18px;
  background-image: url("../svg/form-empty-circle.svg");
  background-repeat: no-repeat;
  background-position: center  center;
  background-size: 20px;
  vertical-align: middle;
  margin-right: 3px;
}
.radio-group {
  display: inline-block;
  font-family: 'Open Sans Regular', sans-serif;
  color: #000000;
  font-size: 13px;
}
.radio-group:nth-of-type(n+2) {
  margin-left: 13px;
}
.radio:checked ~ .radio-group-text::before {
  background-image: url("../svg/form-circle.svg");
}
.radio {
  position: absolute;
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px; 
  width: 1px; 
}
.textarea {
  width: 100%;
  height: 130px;
  min-height: 100px;
  max-height: 250px;
  font-family: inherit;
  box-sizing: border-box;
  display: block;
  border: none;
  background-color: #f4f7f6;
  color: #000000;
  font-size: 13px;
  opacity: 54%;
  padding: 15px 20px;
}
.select:focus, .textarea:focus {
  outline: 1px solid #b59f5b;
}
.button {
  width: 100%;
  height: 50px;
  margin-top: 26px;
  border: none;
  text-align: center;
  font-family: 'Open Sans Bold', sans-serif;
  font-size: 14px;
  color: #ffffff;
  text-transform: uppercase;
  background-color: #b59f5b;
  font-size: 14px;
  cursor: pointer;
}
.button:hover {
  background-color: #323232;
}



@media (min-width: 641px) and (max-width: 1199px) {
  .header {
    width: 100%;
    min-height: 392px;
    padding-top: 40px;
    background-image: url("../images/banner-bg-tablet.jpg");
  }
  .header-container {
    width: 90%;
  }
  .header-container-logo {
    width: 22%;
  }
  .menu {
    display: none;
  }
  .menu-burger {
    display: contents;
    display: block;
  }
  .title {
    font-size: 40px;
    width: 80%;
    margin-top: 86px;
    line-height: 1.4;
  }

  .trend {
    margin-top: 43px;
  }
  .trend-title {
    font-size: 18px;
  }
  .trend-title::after {
    margin-top: 10px;
    margin-bottom: 20px;
  }
  .trend-box {
    width: 100%;
    flex-wrap: wrap;
  }
  .trend-box-info {
    width: 49.8%;
    min-height: 245px;
  }
  .trend-box-info:nth-child(n+3) {
    margin-top: 4px;
  }
  .trend-box-item {
    padding-top: 35px;
    padding-bottom: 30px;
    padding-left: 30px;
    outline: 2px solid #b59f5b;
    width: 88%;
    bottom: 13px;
    left: 6%;
  }
  .trend-box-header {
    font-size: 17px;
  }

  .base {
    width: 100%;
    max-width: 770px;
    margin-top: 47px;
    padding: 0 38px 0 33px;
  }
  .main {
    width: 56.3%;
    max-width: 395px;
    margin-right: 10px;
  }
  .main-box {
    flex-wrap: wrap;
    border-bottom: 3px solid #eeeeee;
    width: 100%;
    padding-bottom: 16px;
  }
  .main-box:nth-child(n+2) {
  margin-top: 38px;
  }
  .main-box:last-child {
    border: none;
    padding-bottom: 0;
  }
  .main-img {
    width: 100%;
  }
  .main-info {
    width: 100%;
    margin-top: 13px;
  }
  .main-info-header {
    font-size: 17px;
    margin-top: 10px;
  }
  .main-info-text {
    margin-top: 29px;
  }
  .main-festival {
    margin-top: 10px;
  }

  .product {
    width: 100%;
    max-width: 770px;
    margin-top: 60px;
    padding: 0 39px 0 35px;
  }
  .product-content {
    min-height: 260px;
    padding-top: 50px;
    padding-left: 20px;
  }
  .product-content-frame {
    min-height: 244px;
    padding-top: 57px;
    padding-left: 22px;
  }
  .product-title {
    font-size: 18px;
  }
  .product-box {
    flex-wrap: wrap;
  }
  .product-info {
    min-height: 460px;
    width: 48%;
  }
  .frame {
    min-height: 435px;
  }
  .product-info:nth-child(n+3) {
    margin-top: 28px;
  }
  .product-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .product-header-title {
    font-size: 17px;
  }
  .product-footer {
    margin-top: 22px;
  }
  .footer {
    width: 100%;
    max-width: 770px;
    margin-top: 50px;
    padding: 0 35px 0 35px;
  }
  .copyright {
  margin-top: 42px;
  }
}



@media (max-width: 640px) {
  .header {
    width: 100%;
    min-height: 639px;
    padding-top: 30px;
    background-image: url("../images/banner-mobile.jpg");
  }
  .header-container {
    width: calc(100% - 59px);
    height: 260px;
    margin-right: 18px;
    margin-left: 41px;
    flex-direction: column-reverse;
  }
  .menu {
    display: none;
  }
  .header-container-logo {
    width: calc(100% - 29px);
    margin-right: auto;
  }
  .menu-burger {
    display: contents;
    display: block;
    margin-left: auto;
  }
  .title {
    font-size: 7.2vw;
    width: calc(100% - 53px);
    padding-right: 25px;
    margin-top: 28px;
    margin-right: 13px;
    margin-left: 40px;
    line-height: 1.4;
  }

  .trend {
    margin-top: 39px;
  }
  .trend-title {
    font-size: 16px;
  }
  .trend-box {
    flex-wrap: wrap;
  }
  .trend-box-info {
    width: 100%;
    min-height: 230px;
  }
  .trend-box-info:nth-child(n+2) {
    margin-top: 3px;
  }
  .trend-box-item {
    width: 89%;
    padding-top: 30px;
  }
  .trend-box-header {
    font-size: 16px;
  }

  .base {
    width: 100%;
    max-width: 360px;
    padding-left: 15px;
    padding-right: 15px;
    flex-wrap: wrap;
    margin-top: 45px;
  }
  .main {
    width: 100%;
  }
  .main-box {
    flex-wrap: wrap;
    border-bottom: 3px solid #eeeeee;
    width: 100%;
    padding-bottom: 20px;
  }
  .main-box:nth-child(n+2) {
  margin-top: 33px;
  }
  .main-img {
    width: 100%;
  }
  .main-info {
    width: 100%;
    margin-top: 10px;
  }
  .main-info-header {
    font-size: 16px;
    margin-top: 7px;
    margin-bottom: 14px;
  }
  .date {
    margin-right: 9px;
  }
  .main-info-text {
    font-size: 14px;
    margin-top: 12px;
  }
  .main-festival {
    margin-top: 0;
    line-height: 1.4;
  }
  .aside {
    width: 100%;
    margin-top: 39px;
  }
  .aside-search {
    margin-top: 65px;
    margin-bottom: 41px;
  }
  .posts-title, .mail-title, .tags-title {
    font-size: 16px;
  }
  .posts-box {
    justify-content: flex-start;
  }
  .posts-img {
    margin-right: 18px;
  }
  .posts-info {
    flex-grow: 1;
  }
  .aside-form {
    width: 100%;
  }
  .aside-mail-but {
    margin-bottom: 39px;
  }
  .themes-title {
    margin-top: -4px;
  }

  .product {
    width: 100%;
    max-width: 360px;
    padding-left: 16px;
    padding-right: 16px;
    margin-top: 43px;
  }
  .product-title {
    font-size: 16px;
  }
  .product-box {
    flex-wrap: wrap;
  }
  .product-info {
    width: 100%;
  }
  .product-info:nth-child(n+2) {
    margin-top: 32px;
  }
  .pillow {
    min-height: 473px;
  }
  .doll {
    min-height: 508px;
  }
  .frame {
    min-height: 492px;
  }
  .product-info:nth-child(n+3){
    margin-top: 25px;
  }
  .product-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .product-content { 
    min-height: 210px;
    padding-top: 52px;
    padding-bottom: 25px;
    padding-left: 20px;
    padding-right: 20px;
  }
  .product-content-frame {
    min-height: 235px;
  }
  .product-header-title {
    font-size: 17px;
  }
  
  .footer {
    width: 100%;
    max-width: 360px;
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 44px;
  }
  .popup-close {
    width: 25px;
    height: 25 px;
    background-size: 24px;
  }
  .popup-container {
    width: 330px;
    padding: 27px 25px 30px 25px;
  }
  .popup-title {
    font-size: 16px;
  }
  .copyright {
  margin-top: 42px;
  }

}


@media (min-width: 641px) and (max-width: 1199px) and (orientation: landscape) {
  .trend-box {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  .trend-box-info {
    width: 24.8%;
    min-height: 245px;
  }
  .trend-box-header {
    font-size: 17px;
  }
}

 @media (max-width: 640px) and (orientation: landscape) {
  .trend-box {
    width: 100%;
    flex-wrap: wrap;
  }
  .trend-box-info {
    width: 49.8%;
    min-height: 245px;
  }
  .trend-box-info:nth-child(n+3) {
    margin-top: 3px;
  }
  .trend-box-header {
    font-size: 16px;
  }
}

  